body{
    margin: 0 !important;
    background-color: #202020;
    font-family: 'Lato', sans-serif;
    color: #818181;
    font-size: 18px;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header{
    width: 100vw;
    margin-top: 20px;
    text-align: center;
}
.header img{
    width: 414px;
    cursor: pointer;
}
.content{
    max-width: 800px;
    min-height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width: 300px;
    background: none;
    border: none;
    border-bottom: 2px solid hsl(0, 60%, 50%);
    transition: transform .4s ease-in-out, opacity .4s ease-in-out, border-bottom .7s ease-in-out;
    color: white;
}
input:hover{
    border-bottom: 2px solid hsl(0, 10%, 40%);
}
input::placeholder{
    transition: all .4s ease-in-out;
    color: hsl(0, 0%, 50%);
}
input:focus::placeholder{
    transform: translateX(50%);
    opacity: 0;
}
span{
    margin-bottom: 30px;
}
button{
    width: 100px;
    height: 25px;
    color: #818181;
    margin-top: 20px;
    border-radius: 15px 0px 15px 8px;
    background: none;
    border: 2px solid hsl(0, 60%, 50%);
    transition: border-top-right-radius .4s ease-in, background-color .4s ease-in, color .4s ease-in;
}
button:hover{
    cursor: pointer;
    border-top-right-radius: 8px;
    background-color: #fd5656;
    color: black;
}
#error-box{
    margin-top: 20px;
    color: red;
}
.footer{
    width: 100vw;
    text-align: center;
    margin: auto auto 10px;
}
.footer a{
    transition: all .7s ease;
}
.footer a:hover{
    color: #6868ff;
}

@media screen and (max-width: 460px) {
    body{
        font-size: 13px;
    }
    .header{
        margin-top: 0;
    }
    .header img{
        width: 100%;
    }
    .content{
        max-width: 300px;
    }
    input{
        width: 250px;
    }
}

@media screen and (max-width: 370px) {

}